# Node
snapthetitle/node_modules/
snapthetitle/build/
snapthetitle/.idea/
snapthetitle/.env
# Java
snapthetitle-backend/.idea/
snapthetitle-backend/.gradle/
snapthetitle-backend/out/
snapthetitle-backend/build/
snapthetitle-backend/.env

# Common
.idea/
uploads/
*.log
*.tmp
*.DS_Store
*.bundle
.env